footer.footer {
    width: 100%;
}
footer.footer .footer__container {
    margin: 0 auto;
    padding: 0px 15px;
}
footer.footer .footer__container:before,
footer.footer .footer__container:after {
    content: " ";
    display: table;
}
footer.footer .footer__container:after {
    clear: both;
}
footer.footer .footer__container .footer__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
footer.footer .footer__container .footer__row:before,
footer.footer .footer__container .footer__row:after {
    content: " ";
    display: table;
}
footer.footer .footer__container .footer__row:after {
    clear: both;
}
footer.footer .footer__top {
    background-color: #ffffff;
    padding: 20px 0px;
    border-top: 1px solid #f1f1f1;
}
footer.footer .footer__top .footer__menu {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
footer.footer .footer__top .footer__menu > span {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 15px;
}
footer.footer .footer__top .footer__menu:nth-child(2) ul li span {
    font-weight: 400;
}
footer.footer .footer__top .footer__menu:nth-child(2) ul li:nth-child(1) span {
    color: #000000;
    font-weight: 600;
}
footer.footer .footer__top .footer__menu:nth-child(2) ul li:nth-child(5) a,
footer.footer .footer__top .footer__menu:nth-child(2) ul li:nth-child(6) a {
    color: #000000;
}
footer.footer .footer__top .footer__menu ul li {
    margin-bottom: 10px;
}
footer.footer .footer__top .footer__menu ul li:last-child {
    margin-bottom: 0px;
}
footer.footer .footer__top .footer__menu ul li a {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #959595;
}
footer.footer .footer__top .footer__menu ul li a:hover {
    text-decoration: underline;
}
footer.footer .footer__top .footer__menu ul li span {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #959595;
}
footer.footer .footer__top .footer__menu img {
    width: 100%;
    max-width: 225px;
    height: auto;
}
footer.footer .footer__top .footer__paymentFlags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}
footer.footer .footer__top .footer__paymentFlags-item {
    margin: 0 !important;
    max-width: 3rem;
}
footer.footer .footer__bottom {
    background-color: #ffffff;
    padding: 20px 0px;
    border-top: 1px solid #f1f1f1;
}
footer.footer
    .footer__bottom
    .footer__container
    .footer__row
    .footer__copyright {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
footer.footer
    .footer__bottom
    .footer__container
    .footer__row
    .footer__copyright
    span {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #9a9a9a;
}
footer.footer .footer__bottom .footer__container .footer__row .footer__develop {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}
footer.footer
    .footer__bottom
    .footer__container
    .footer__row
    .footer__develop
    .social__approve {
    margin-bottom: 20px;
    text-align: right;
}
footer.footer
    .footer__bottom
    .footer__container
    .footer__row
    .footer__develop
    .social__approve
    img {
    width: 100%;
    max-width: 130px;
    height: auto;
    display: inline-block;
}
footer.footer
    .footer__bottom
    .footer__container
    .footer__row
    .footer__develop
    a,
footer.footer
    .footer__bottom
    .footer__container
    .footer__row
    .footer__develop
    p {
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 12px;
    color: #9a9a9a;
    text-align: right;
    text-decoration: none;
    margin: 0px;
    display: block;
}
footer.footer
    .footer__bottom
    .footer__container
    .footer__row
    .footer__develop
    a.inlineA {
    display: inline;
}
.fixed__buttons {
    position: fixed;
    right: 66px;
    bottom: 124px;
    z-index: 1;
}
.fixed__buttons .up__button {
    display: none;
    background-color: #ffffff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 12px -2px rgba(0, 0, 0, 0.6);
    color: #000000;
    margin-bottom: 10px;
    font-size: 30px;
    cursor: pointer;
}
.fixed__buttons .whatsapp__button .whatsapp__wrapper a {
    font-size: 30px;
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
}
.fixed__buttons .whatsapp__button .whatsapp__wrapper a .whatsapp__icon {
    background: url("https://recursos.jadejade.com.br/i/sd/logo-jade.png")
        no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 24px;
    display: block;
}
