*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus,
*:before:focus,
*:after:focus {
    outline: 0;
}
html {
    font-size: 16px;
}
html::-webkit-scrollbar-track-piece {
    width: 6px;
    height: 5px;
    margin: 1px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.298039);
}
html::-webkit-scrollbar-thumb {
    z-index: 9999;
    background-clip: content-box;
    width: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 12px;
    margin: 1px !important;
}
html::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0.298039);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}
html::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: #474747;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
input,
textarea,
button,
select {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
button,
input[type="submit"] {
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
tr,
th,
td,
b {
    font-weight: normal;
}
input,
textarea,
button,
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    font-family: "Montserrat", sans-serif;
    text-indent: 0;
    border-radius: 0;
}
input:focus,
textarea:focus,
button:focus,
select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    box-shadow: none;
}
textarea,
select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    font-size: 0.75rem;
    font-weight: 400;
    color: #474747;
    border: 1px solid #dcdcdc;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    border-color: #ccc;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
    height: 40px;
    padding: 0 10px;
}
textarea {
    padding: 10px;
}
button,
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
