/* Globals/Reset CSS*/
@import url(/parte1/css/globals.css);

.view-switcher {
    display: none !important;
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes scrollDown {
    0% {
        top: -280px;
    }
    100% {
        top: 0px;
    }
}
@keyframes scrollDown {
    0% {
        top: -280px;
    }
    100% {
        top: 0px;
    }
}
.container {
    max-width: 1170px;
    width: 85%;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: start;
    align-items: center;
}
.overflow-hidden {
    overflow: hidden;
}
/* Header Styles */
.header {
    background-color: #ffffff;
}
.header.header__fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    transition: 450ms ease-in all;
    -webkit-animation: scrollDown ease-in 450ms;
    animation: scrollDown ease-in 450ms;
    border-bottom: 1px solid #d5d5d5;
}
.header .header__container {
    position: relative;
}
.header .header__desktop {
    max-width: 1170px;
    width: 85%;
    margin: 0 auto;
}
.header .header__desktop .header__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .header__desktop .header__logo {
    /* max-width: 100%; */
    /* width: 100%; */
    max-width: 15%;
    width: 15%;
    text-align: center;
}
.header .header__desktop .header__logo a {
    display: inline-block;
}
.header .header__desktop .header__logo a img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.header .header__desktop .header__logo a img {
    filter: drop-shadow(6px 6px 2px transparent);
    filter: drop-shadow(0px 0px 60px gray);
    transition: all 0.4s ease;
}
.header .header__desktop .header__logo a img:is(:hover, :focus) {
    transform: scale(1.1);
    transition: var(--transition);
    filter: drop-shadow(4px 6px 2px gray);
    transition: all 0.4s ease;
}

.header .header__desktop .header__menu,
.header .header__desktop .header__config {
    flex: 1;
}
.header .header__desktop .header__menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header .header__desktop .header__menu-list li {
    position: relative;
    transition: all 0.4s ease;
}
.header .header__desktop .header__menu-list li a {
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    display: block;
    transition: all 0.4s ease;
}
.header .header__desktop .header__menu-list li a > span {
    display: none;
}
.header .header__desktop .header__menu-item {
    margin: 0px 15px 0px 0px;
}
.header .header__desktop .header__menu-item > a:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-color: #000000;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: all 0.3s ease;
    text-align: center;
}
.header .header__desktop .header__menu-item:hover > a:after {
    height: 4px;
}
.header .header__desktop .header__menu-item:last-child {
    margin: 0px;
}
.header .header__desktop .header__menu-item > a {
    padding: 33px 0px;
    position: relative;
}
.header .header__desktop .header__config {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.header .header__desktop .header__config ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.header .header__desktop .header__config li {
    margin: 0px 25px 0px 0px;
}
.header .header__desktop .header__config li:last-child {
    margin: 0px;
}
.header .header__desktop .config__wishes a:hover .wishes__icon .icon__wish {
    filter: opacity(0.7);
}
.header .header__desktop .config__wishes a .wishes__icon .icon__wish {
    background: url("../img/svg/icon_favorite.svg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 21px;
    display: inline-block;
    transition: 350ms ease-in all;
}
.header .header__desktop .header__config .config__user {
    cursor: pointer;
    position: relative;
}
.header .header__desktop .config__user.active .icon__login,
.header .header__desktop .config__user:hover .icon__login {
    /* filter: invert(1) brightness(1); */
    filter: opacity(0.7);
}
.header
    .header__desktop
    .config__user:is(:hover, :focus, :focus-visible)
    .login__box {
    display: block;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
.header .header__desktop .config__user .icon__login {
    background: url("../img/svg/icon_user.svg") no-repeat;
    background-size: 22px 25px;
    background-position: center;
    width: 22px;
    height: 25px;
    display: inline-block;
    transition: 350ms ease-in all;
}
.header .header__desktop .config__user .login__wrapper {
    display: none;
}
.header .header__desktop .config__user .login__box {
    /* display: none; */
    display: block;
    opacity: 0;
    visibility: hidden;
    cursor: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 33px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
    width: 175px;
    padding: 7px;
    transition: all 0.4s ease;
}
.header .header__desktop .config__user .login__box ul {
    display: block;
}
.header .header__desktop .config__user .login__box li {
    display: block;
    margin: 0px;
}
.header .header__desktop .config__user .login__box li:last-child a {
    border-top: 1px solid #cccccc;
}
.header .header__desktop .config__user .login__box a {
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    display: block;
    padding: 8px 0px 8px 0px;
}
.header .header__desktop .config__user .login__box a:hover {
    text-decoration: underline;
}
.header .header__desktop .config__user .login__box a.login__button {
    background-color: #000000;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.header .header__desktop .header__config .config__shop {
    position: relative;
    cursor: pointer;
}
.header .header__desktop .config__shop.active .icon__cart,
.header .header__desktop .config__shop:hover .icon__cart {
    /* filter: invert(1) brightness(1); */
    filter: opacity(0.7);
}
.header .header__desktop .config__shop .icon__cart {
    background: url("../img/svg/icon_minicart.svg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 25px;
    display: inline-block;
    transition: 350ms ease-in all;
}
.header .header__desktop #fbits-resumo-carrinho a {
    pointer-events: none;
}
.header .header__desktop #fbits-resumo-carrinho a .minicart-qtde-itens {
    position: absolute;
    bottom: -2px;
    left: -4px;
    order: 2;
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 0;
    background: #000;
    border-radius: 100%;
    font-weight: 500;
    font-size: 0.625rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header__desktop #fbits-resumo-carrinho a .minicart-txt-itens {
    display: none;
}
.header .header__desktop #mini__cart {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 370px;
    z-index: 999999;
    background-color: #ffffff;
    transform: translateX(2000px);
    transition: 250ms ease-in all;
}
.header .header__desktop #mini__cart.active {
    transform: translateX(0px);
}
.header .header__desktop #mini__cart .cart__close {
    position: absolute;
    top: 16px;
    right: 10px;
    color: #000000;
    font-size: 24px;
}
.header .header__desktop #mini__cart iframe {
    width: 100%;
    height: calc(100vh - 82px);
}
.header .header__desktop #mini__cart .finish__buy {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.header .header__desktop #mini__cart .finish__buy a {
    background-color: #4dc247 !important;
    border-radius: 0px;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin: 20px 15px 20px 15px;
    padding: 12px;
    cursor: pointer;
    display: block;
}
.header .header__desktop .header__config .config__search {
    cursor: pointer;
    position: relative;
}
.header .header__desktop .header__config .config__search input {
    border: 0;
    border-bottom: 1px solid #aaaaaa;
    padding-left: 0;
    padding-right: 0;
}
.header .header__desktop .config__search.active .icon__search,
.header .header__desktop .config__search:hover .icon__search {
    /* filter: invert(1) brightness(1); */
    filter: opacity(0.7);
}
.header .header__desktop .config__search .icon__search {
    background: url("../img/svg/icon_search.svg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 22px;
    height: 22px;
    display: inline-block;
    transition: 750ms ease-in all;
    position: absolute;
    right: 0rem;
    top: 25%;
}
.header .config__wishlist {
    /* position: relative; */
    cursor: pointer;
}
.header .config__wishlist:hover .icon__wishlist {
    filter: opacity(0.7);
}
.header .config__wishlist .icon__wishlist {
    background: url("../img/svg/icon_favorite.svg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 22px;
    height: 22px;
    display: inline-block;
    transition: 750ms ease-in all;
    /* position: absolute; */
    right: 0rem;
    top: 25%;
}
.header .header__desktop .config__flag {
    background: #f5f5f5;
    border-radius: 4px;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header .header__desktop .config__flag select {
    background: transparent;
    border-color: #f5f5f5;
    border-radius: 4px;
    outline: none;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 14px;
    color: #000000;
    border-radius: 4px;
    width: 100%;
}

.custom-select::after {
    content: "\25BC";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-select option {
    background-color: #ffffff;
    color: #000000;
}

.custom-select:focus {
    border-color: #000;
    outline: none;
}

.header .header__desktop .config__flag .flag__icon {
    background: url("../img/svg/icon_language.svg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 28px;
    height: 28px;
    display: inline-block;
}
.header .header__mobile {
    display: none;
}
.slick-arrow svg path {
    fill: #000000 !important;
}

/* Footer Styles */
.footer {
    width: 100%;
}
.footer .footer__container {
    margin: 0 auto;
    padding: 0px 15px;
}
.footer .footer__container:before,
.footer .footer__container:after {
    content: " ";
    display: table;
}
.footer .footer__container:after {
    clear: both;
}
.footer .footer__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer .footer__top {
    background-color: #ffffff;
    padding: 20px 0px;
    border-top: 1px solid #f1f1f1;
}
.footer .footer__top .footer__menu {
    /* max-width: 100%; */
    /* width: 100%; */
    max-width: 25%;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.footer .footer__top .footer__menu > span {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer .footer__top .footer__menu:nth-child(2) li span {
    font-weight: 400;
}
.footer .footer__top .footer__menu:nth-child(2) li:nth-child(5) a,
.footer .footer__top .footer__menu:nth-child(2) li:nth-child(6) a {
    font-weight: 600;
    color: #000000;
}

.footer
    .footer__top
    .footer__menu:nth-child(2)
    li:nth-child(5)
    a:is(:hover, :focus, :focus-visible),
.footer
    .footer__top
    .footer__menu:nth-child(2)
    li:nth-child(6)
    a:is(:hover, :focus, :focus-visible) {
    color: #959595;
}
.footer .footer__top .footer__menu li {
    margin-bottom: 10px;
}
.footer .footer__top .footer__menu li:last-child {
    margin-bottom: 0px;
}
.footer .footer__top .footer__menu li a {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #959595;
    transition: all 0.4s ease;
}
.footer .footer__top .footer__menu li a:hover {
    color: #000;
}
.footer .footer__top .footer__menu li span {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #959595;
}
.footer .footer__top .footer__menu img {
    width: 100%;
    max-width: 225px;
    height: auto;
}
.footer .footer__top .footer__paymentFlags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.footer .footer__top .footer__paymentFlags-item {
    margin: 0 !important;
    max-width: 3rem;
}
.footer .footer__bottom {
    background-color: #ffffff;
    padding: 20px 0px;
    border-top: 1px solid #f1f1f1;
}
.footer .footer__bottom .footer__copyright {
    /* max-width: 100%; */
    /* width: 100%; */
    max-width: 58%;
    width: 58%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.footer .footer__bottom .footer__copyright span {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #9a9a9a;
}
.footer .footer__bottom .footer__develop {
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}
.footer .footer__bottom .footer__develop .social__approve {
    margin-bottom: 20px;
    text-align: right;
}
.footer .footer__bottom .footer__develop .social__approve img {
    width: 100%;
    max-width: 130px;
    height: auto;
    display: inline-block;
}
.footer .footer__bottom .footer__develop a,
.footer .footer__bottom .footer__develop p {
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 12px;
    color: #9a9a9a;
    text-align: right;
    text-decoration: none;
    margin: 0px;
    display: block;
}
.footer .footer__bottom .footer__develop a.inlineA {
    display: inline;
}
.fixed__buttons {
    position: fixed;
    right: 66px;
    bottom: 124px;
    z-index: 1;
}
.fixed__buttons .up__button {
    display: none;
    background-color: #ffffff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 12px -2px rgba(0, 0, 0, 0.6);
    color: #000000;
    margin-bottom: 10px;
    font-size: 30px;
    cursor: pointer;
}
.fixed__buttons .whatsapp__wrapper a {
    font-size: 30px;
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
}
.fixed__buttons .whatsapp__wrapper a .whatsapp__icon {
    background: url("https://recursos.jadejade.com.br/i/sd/logo-jade.png")
        no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 24px;
    display: block;
}

/* Newsletter Styles */
.newsletter {
    background-color: #ffffff;
    padding: 20px 0px;
}
.newsletter .newsletter__container {
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}
.newsletter .newsletter__container:before,
.newsletter .newsletter__container:after {
    content: " ";
    display: table;
}
.newsletter .newsletter__container:after {
    clear: both;
}
.newsletter .newsletter__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.newsletter .newsletter__wrapper {
    /* max-width: 100%; */
    /* width: 100%; */
    max-width: 58%;
    width: 58%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.newsletter .newsletter__title {
    width: 40%;
}
.newsletter .newsletter__title span {
    display: block;
    font-family: "Inter", "Montserrat", sans-serif;
    font-weight: 500;
    color: #000000;
}
.newsletter .newsletter__title span:first-child {
    font-size: 1.25;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.newsletter .newsletter__title span:last-child {
    font-size: 1rem;
}
.newsletter .newsletter__form {
    width: 58%;
    display: flex;
    flex-wrap: wrap;
}
.newsletter .newsletter__form input.input {
    width: 100%;
    border: 1px solid #e1e1e1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #a5a5a5;
    padding: 15px;
    height: unset;
    border-radius: 0;
    -webkit-appearance: none;
}
.newsletter .newsletter__form input.input::-moz-placeholder,
.newsletter .newsletter__form input.input:-ms-input-placeholder,
.newsletter .newsletter__form input.input::placeholder,
.newsletter .newsletter__form input.input:-ms-input-placeholder,
.newsletter .newsletter__form input.input::-ms-input-placeholder {
    color: #a5a5a5;
}
.newsletter .newsletter__form input.input.nome {
    margin-bottom: 10px;
}
.newsletter .newsletter__form input.input.email {
    width: 70%;
}
.newsletter .newsletter__form input.btNews {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    min-width: 85px;
    width: 28%;
    height: unset;
    margin: 0px;
    margin-left: 2%;
    padding: 15px;
    letter-spacing: 1px;
    border-radius: 0;
}
.newsletter .newsletter__form input.btNews:hover {
    opacity: 0.8;
}
.newsletter .newsletter__form #newsletter-mensagem {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.newsletter .newsletter__social {
    /* max-width: 100%; */
    /* width: 100%; */
    max-width: 25%;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.newsletter .newsletter__social ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.625rem;
}
.newsletter .newsletter__social a {
    display: inline-block;
    font-size: 24px;
    color: #cccccc;
    transition: 350ms ease-in all;
    opacity: 0.5;
}
.newsletter .newsletter__social a:hover {
    opacity: 1;
}

.main-content {
    min-height: 20vh;
    margin-top: 4.5rem;
}
.fullbanner {
    position: relative;
    overflow: hidden;
}
.fullbanner .fullbanner__container {
    position: relative;
    max-height: 450px;
}

.fullbanner .fullbanner__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    color: #fff;
    position: absolute;
    padding-bottom: 4rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 14.58%,
        rgba(0, 0, 0, 0.4) 100%
    );
}
.fullbanner .fullbanner__title {
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
}
.fullbanner .fullbanner__link {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.4s ease;
}
.fullbanner .fullbanner__link:after {
    content: "";
    display: inline-block;
    width: 101%;
    height: 1px;
    background: #ffffff;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
}
.fullbanner .fullbanner__link-icon {
    border: 0.4rem solid transparent;
    border-left: 0.4rem solid #ffffff;
    float: right;
    transition: all 0.4s ease;
    width: 0.4rem;
    height: 0.4rem;
    position: relative;
}
.fullbanner .fullbanner__link-icon::before {
    content: "";
    display: inline-block;
    border: 0.4rem solid transparent;
    border-left: 0.4rem solid #ffffff;
    transition: all 0.4s ease;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    bottom: -0.39rem;
    left: -0.4rem;
}
.fullbanner .fullbanner__link:is(:hover, :focus, :focus-visible) {
    letter-spacing: 0.4em;
}
.fullbanner
    .fullbanner__link:is(:hover, :focus, :focus-visible)
    .fullbanner__link-icon::before {
    transform: translateX(0.4rem);
}
.fbits-slick-slider {
    margin: 0 auto;
    padding: 0 40px;
}

.showcase {
    margin: 3rem;
}
.showcase .showcase__title {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
}
.showcase .showcase__title h2 {
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.showcase .showcase__title a {
    color: #bbbbbb;
    font-family: "Roboto", "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.showcase .showcase__title a:hover .showcase__title-icon {
    transform: translateX(0.4rem);
}
.showcase .showcase__title-icon {
    border: 0.4rem solid transparent;
    border-left: 0.4rem solid #bbbbbb;
    float: right;
    transition: all 0.4s ease;
    width: 0.5rem;
    height: 0.5rem;
    position: relative;
}
.spot {
    box-shadow: none !important;
    border: none !important;
    transition: 350ms ease-in all;
}
.spot:hover .product-item__content {
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

.spot:hover .product-item__details .product-item__buttons {
    display: block;
    bottom: 93px;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}
.product-item__content {
    position: relative;
    border: none;
    padding: 3px 11px;
}
.product-item__link {
    text-decoration: none;
    outline: none;
}
.product-item__link .product-item__tags {
    display: block !important;
    position: absolute;
    top: 10px;
}
.product-item__link .ribbon {
    margin-bottom: 10px;
    border-radius: 3px;
    font-family: "Inter", "Montserrat", sans-serif;
}
.product-item__link .product-item__image img {
    width: 100%;
    max-width: 456px;
    height: auto;
}
.product-item__link .product-item__tags {
    display: none;
}
.product-item__details {
    padding: 0px 4px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    margin: 0;
}
.product-item__link--details {
    display: block;
    text-decoration: none;
    outline: none;
}
.product-item__link--details h2 {
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    margin: 13px 0px 0px 0px;
    line-height: 1;
    min-height: 28px;
    text-align: left;
    text-transform: uppercase;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
}
.product-item__link--details .product-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    min-height: unset;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-align: left;
    height: 42px;
}
.product-item__price .product-item__price--current,
.product-item__link--details .product-item__price--original {
    display: inline-block;
    flex: inherit;
    text-align: left;
    width: auto;
    margin: 0px;
    color: #959595;
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
}
.product-item__link--details .product-item__price--current span,
.product-item__link--details .product-item__price--original span {
    font-weight: 600;
}
.product-item__link--details .product-item__payment-method {
    display: none;
}
.product-item__link--details .product-item__price--original {
    display: inline-block;
    width: auto;
    text-decoration: line-through;
    margin: 0;
}
.product-item__link--details .product-item__price--current {
    font-size: 13px;
    width: 100%;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
    font-family: "Inter", "Montserrat", sans-serif;
}
.product-item__link--details .product-item__installments {
    display: inline-block;
    flex: inherit;
    text-align: center;
    width: auto;
    margin: 0px 0px 0px 0px;
    color: #959595;
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.product-item__link--details .product-item__installments span {
    font-weight: 600;
}
.product-item__link--details .product-item__installments-multiplier {
    margin-left: -2px;
}
.product-item__details .product-item__buttons {
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 18px 15px;
    display: block;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: collapse;
    cursor: none;
}
.product-item__sizes a {
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    text-decoration: none;
}
.product-item__sizes.product-item__attributes a:last-child {
    margin-right: 0px;
}
.product-item__sizes.product-item__attributes a:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    left: 0px;
    bottom: -2px;
    position: absolute;
}
.product-item__details .product-item__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.product-item__details .product-item__actions .spot__variations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.product-item__details .product-item__actions .attributes__item {
    padding: 1rem;
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 0.625rem;
    color: #000000;
}
.product-item__actions .button.button--add {
    display: block;
    width: 100%;
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
    height: auto;
    line-height: 1;
    letter-spacing: 1px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 17px;
    opacity: 1;
    position: unset;
    text-indent: unset;
    border-radius: 0px;
    border: none;
    text-decoration: none;
}

.youtube__title h2 {
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.youtube__title {
    text-align: center;
    margin: 2rem;
}
.youtube__iframe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.brands {
    width: 100%;
    overflow: hidden;
    background: #0d0c0c;
    padding: 2rem 0;
}
.brands__container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.brands__container::-webkit-scrollbar {
    display: none;
}
.brands__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0;
    margin: 0;
    list-style: none;
}
@media (max-width: 768px) {
    .brands,
    .brands__container,
    .brands__list,
    .brands__item {
        pointer-events: none;
    }
    .brands__list {
        gap: 1.5rem;
        animation: slide 20s linear infinite;
        pointer-events: none;
    }
    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-100%);
        }
        50.01% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    .brands__item {
        flex: 0 0 auto;
        width: 30%;
        scroll-snap-align: start;
        /* margin-right: 10px; */
        margin: 0;
        cursor: none;
        pointer-events: none;
    }
    .brands__item img {
        width: 100%;
        height: auto;
        display: block;
    }
    .brands__item img {
        width: 100%;
        height: auto;
        display: block;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    /* Header Styles */
    .header .header__desktop {
        display: none;
    }
    .header .header__mobile {
        display: block;
        padding: 9px 0;
        background-color: #ffffff;
    }
    .header .header__mobile.header__fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        transition: 450ms ease-in all;
        -webkit-animation: scrollDown ease-in 450ms;
        animation: scrollDown ease-in 450ms;
    }
    .header .header__mobile.active .header__container .header__row::after {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    .header .header__mobile .header__container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        position: relative;
    }
    .header .header__mobile .header__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .header .header__mobile .header__tabs {
        margin-top: 5px;
        max-width: 16.66667%;
        width: 16.66667%;
        padding: 0 15px;
        color: #000000;
        font-size: 1.5rem;
    }
    .header .header__mobile .header__tabs svg {
        width: 22px;
    }
    .header .header__mobile .header__logo,
    .header .header__mobile .header__config {
        max-width: 25%;
        width: 25%;
        padding: 0 15px;
    }

    .header .header__mobile .menu__close {
        width: 2rem;
    }
    .header .header__mobile .header__config ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }
    .header .header__mobile .header__config li {
        margin-right: 19px;
    }
    .header .header__mobile .header__config li:last-child {
        margin-right: 0;
    }
    .header .header__mobile .icon__search {
        background: url("../img/svg/icon_search.svg") no-repeat;
        background-size: cover;
        background-position: center;
        width: 22px;
        height: 22px;
        display: inline-block;
    }
    .header .header__mobile .search__icon.active {
        font-size: 22px;
        color: #dbdbdb;
        height: 32px;
    }
    .header .header__mobile .search__icon.active svg {
        width: 20px;
    }
    .header .header__mobile .search__box {
        position: absolute;
        left: 0;
        top: 53px;
        width: 100%;
        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
        background-color: #ffffff;
        z-index: 1;
        display: none;
    }
    .header .header__mobile #searchFormHeaderMobile {
        position: relative;
    }
    .header .header__mobile #btnBuscaMobile {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: #000000;
    }
    .header .header__mobile #searchFormHeaderMobile input {
        width: 100%;
        border: 0;
        padding: 14px 15px;
        font-family: "Inter", "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
    }
    .header .header__mobile #searchFormHeaderMobile input::-moz-placeholder,
    .header .header__mobile #searchFormHeaderMobile input:-ms-input-placeholder,
    .header .header__mobile #searchFormHeaderMobile input::placeholder,
    .header .header__mobile #searchFormHeaderMobile input:-ms-input-placeholder,
    .header
        .header__mobile
        #searchFormHeaderMobile
        input::-ms-input-placeholder {
        color: #000000;
        opacity: 1;
    }
    .header .header__mobile .config__shop .cart__icon a {
        display: block;
        position: relative;
    }
    .header .header__mobile .config__shop .cart__icon a .icon__cart {
        background: url("../img/svg/icon_minicart.svg") no-repeat;
        background-size: cover;
        background-position: center;
        width: 20px;
        height: 25px;
        display: inline-block;
    }
    .header .header__mobile .config__shop .cart__icon a .minicart-qtde-itens {
        position: absolute;
        bottom: -2px;
        left: -5px;
        order: 2;
        width: 15px;
        height: 15px;
        text-align: center;
        padding: 0;
        background: #000;
        border-radius: 100%;
        font-weight: 500;
        font-size: 12px;
        color: #ffffff;
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .header__mobile .header__menu {
        font-family: "Inter", "Montserrat", sans-serif;
        display: block;
        position: fixed;
        left: -2000px;
        top: 0;
        width: 100%;
        max-width: 100vw;
        /* max-width: 373px; */
        background-color: #ffffff;
        z-index: 10;
        height: 100%;
        transition: all.4s ease;
    }
    .header .header__mobile .header__menu.active {
        left: 0;
    }
    /* .header .header__mobile .header__menu */
    /* 
        font-family: "Inter", "Montserrat", sans-serif; */
    .header .header__mobile .menu__top,
    .header .header__mobile .menu__middle,
    .header .header__mobile .menu__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .header .header__mobile .menu__top {
        padding: 0 1.5rem;
    }
    .header .header__mobile .menu__top .menu__logo {
        padding: 0;
    }
    .header .header__mobile .menu__middle {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem 0;
        margin: 0 1rem;
        border-top: 1px solid #959595;
    }
    .header .header__mobile .menu__logo,
    .header .header__mobile .middle__account,
    .header .header__mobile .middle__requests,
    .header .header__mobile .middle__wish {
        max-width: 33.33333%;
        width: 33.33333%;
        padding: 0 15px;
    }
    .header .header__mobile .menu__middle a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }
    .header .header__mobile .middle__account,
    .header .header__mobile .middle__requests {
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    .header .header__mobile .middle__requests i {
        background: url("../img/svg/icon_minicart.svg") no-repeat;
        background-size: cover;
        background-position: center;
        width: 20px;
        height: 25px;
        display: inline-block;
    }
    .header .header__mobile .menu__logo a,
    .header .header__mobile .newsletter__title {
        width: 100%;
    }
    .header .header__mobile .menu__wrapper {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 1rem;
    }
    .header .header__mobile .menu__wrapper .menu {
        padding: 1rem 0;
        border-top: 1px solid #959595;
    }

    /* Newsletter Styles */
    .newsletter .newsletter__wrapper,
    .newsletter .newsletter__social {
        max-width: 100%;
        width: 100%;
    }
    .newsletter .newsletter__title {
        width: 100%;
    }
    .newsletter .newsletter__title span {
        text-align: center;
    }
    .newsletter .newsletter__form {
        width: 100%;
        margin-top: 20px;
    }
    .newsletter .newsletter__social {
        margin-top: 20px;
    }
    .newsletter .newsletter__social ul {
        justify-content: center;
    }
    .newsletter .newsletter__social ul li a:hover {
        color: #cccccc !important;
    }

    /* Footer Styles */
    .footer .footer__top .footer__menu > span,
    .footer .footer__top .footer__menu a,
    .footer .footer__top .footer__menu span,
    .footer .footer__top .footer__menu img,
    .footer .footer__bottom .footer__copyright span,
    .footer .footer__bottom .footer__develop,
    .footer .footer__bottom .footer__develop .social__approve,
    .footer .footer__bottom .footer__develop a {
        text-align: center;
    }
    .footer .footer__top .footer__menu {
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
    }
    .footer .footer__top .footer__menu:last-child {
        margin-bottom: 0;
    }
    .footer .footer__bottom .footer__copyright,
    .footer .footer__bottom .footer__row .footer__develop {
        max-width: 100%;
        width: 100%;
        margin-bottom: 1rem;
    }
    .footer .footer__bottom .footer__row .footer__develop p {
        text-align: center;
    }

    /* Other Elements */
    .fixed__buttons {
        right: 20px;
        bottom: 135px;
    }

    .product-item__content .product-item__link--details h2 {
        font-size: 12px;
        min-height: 24px;
    }
    .product-item__content .product-item__buttons {
        background-color: unset;
        padding: 0;
        display: block;
    }
    .product-item__content .product-item__sizes.product-item__attributes {
        display: none;
    }

    .product-item__content .product-item__actions .button.button--buy {
        display: block;
        width: 100%;
        font-family: "Inter", "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        height: auto;
        line-height: 1;
        letter-spacing: 1px;
        background-color: #000;
        color: #fff;
        margin-top: 17px;
        opacity: 1;
        position: unset;
        text-indent: unset;
        border-radius: 0;
        border: none;
        text-decoration: none;
    }

    .product-item__content .product-item__actions .button.button--add {
        display: none;
    }

    .header .header__desktop,
    .header .header__desktop .search__wrapper .headerSearch,
    .newsletter .newsletter__container,
    .footer .footer__container {
        max-width: 768px;
    }

    .footer .footer__bottom .footer__container .footer__row .footer__develop p {
        text-align: center;
    }

    body #pipe-chat-button-container {
        margin: 60px 15px;
    }

    .header .header__desktop,
    .header .header__desktop .headerSearch,
    .newsletter .newsletter__container,
    .footer .footer__container {
        max-width: 480px;
    }
    .product-item__link--details .product-item__installments,
    .product-item__link--details .product-item__price--original {
        font-size: 10px;
    }
    .product-item__link--details .product-item__installments {
        margin: 0px 0px 0px 18px;
    }
    .fullbanner .fullbanner__title {
        font-size: 2rem;
    }
    .fullbanner .fullbanner__link {
        font-size: 1rem;
    }
}
